.star {
  font-size: 50px;
  cursor: pointer;
}
.one {
  color: rgb(255, 221, 0);
}
.two {
  color: rgb(255, 221, 0);
}
.three {
  color: rgb(255, 221, 0);
}
.four {
  color: rgb(255, 221, 0);
}
.five {
  color: rgb(255, 221, 0);
}
.movie {
    padding:10px;
    margin:10px 0;
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 3px;
    border-radius:6px;
    background:#f5f5f5;
    font-family:sans-serif;
}